@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.fancy-border {
  border-top: 2px solid $gray-500 !important;
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}

.fancy-border:before {
  background-color: $white;
  content: '';
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: $primary;
}
